<h1>Dashboard</h1>

<h2>Sites</h2>

<% if session[:site] %>

  <p>Site sélectionné : <%= Site.find(session[:site]).url %></p>
  <% if current_user.sites.count > 1 %>
    <p><%= link_to "Changer de site", "/change_site" %></p>
  <% end %>

  <h3>Stats</h3>
  <p>
    Nombre de produits : <%= Site.find(session[:site]).products.count %> -
    <%= link_to "Liste des produits", products_path %>
  </p>

<% else %>

  <table>
    <thead>
      <tr>
        <th>Url</th>
        <th>Système</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <% current_user.sites.each do |site| %>
        <tr>
          <td><%= site.url %></td>
          <td><%= site.system %></td>
          <td>
            <%= link_to "Sélectionner", "/select_site/#{site.id}" %> |
            <%= link_to "Modifier", edit_site_path(site.id) %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>

<% end %>

<% if current_user.is_admin? || current_user.sites.count==0 %>
  <p>Ajouter un site : <%= link_to "Ajouter un site", new_site_path, class: "btn btn-primary" %></p>
<% end %>

<% if Rails.env.development? %>
  <h2>Informations User</h2>

  <ul>
    <li>ID : <%= current_user.id %></li>
    <li>Email : <%= current_user.email %></li>
    <li>Photo : <%= current_user.photo %></li>
    <li>Langue : <%= current_user.langage %></li>
    <li>Compte créé le : <%= current_user.created_at %></li>
    <li>Admin : <%= current_user.is_admin? %></li>
    <li>Nombre de logs : <%= current_user.sign_in_count %></li>
    <li>Session créé depuis : <%= current_user.current_sign_in_at %></li>
    <li>Dernière connexion : <%= current_user.last_sign_in_at %></li>
    <li>IP de connexion actuelle : <%= current_user.current_sign_in_ip %></li>
    <li>IP utilisée la dernière fois : <%= current_user.last_sign_in_ip %></li>
  </ul>
<% end %>
