<p id="notice"><%= notice %></p>

<div class="row">
  <div class="col-xs-12">
    <p class="ariane">
      <%= link_to "Dashboard", dashboard_path %> &raquo; <%= link_to 'Mes produits', products_path %>
    </p>
  </div>
</div>

<div class="row">

  <div class="col-xs-12 col-md-12 col-lg-12">
    <h1><%= @product.title %></h1>
    <p>Référence : <br />
    Référence fournisseur : <br />
    EAN : <%= @product.ean %></p>
    <p><a href="#" class="btn btn-default">Mettre les informations à jour</a></p>
  </div>

  <div class="cols-xs-12 col-md-8 col-lg-8">

    <h2>Description courte</h2>
    <%= @product.short_description %>
    <br />
    <p><a href="#" class="btn btn-success">Générer une nouvelle description courte</a></p>

    <h2>Description longue (argumentaire)</h2>
    <%= @product.long_description %>
    <br />
    <p><a href="#" class="btn btn-success">Générer une nouvelle description longue</a></p>
  </div>

  <div class="col-xs-12 col-md-4 col-lg-4">
    <p>
      <% if @product.short_description_generated_by_us %>
        Description courte initiale
      <% else %>
        Description courte générée par Content le <%= @product.date_generation_short_description %>
      <% end %> ?
    </p>

    <p>
      Description longue générée par Content ?<br />
      <%= @product.long_description_generated_by_us %><br />
      <%= @product.date_generation_long_description %>
    </p>
  </div>

</div>
