<p id="notice"><%= notice %></p>

<p>
  <strong>Url:</strong>
  <%= @site.url %>
</p>

<p>
  <strong>System:</strong>
  <%= @site.system %>
</p>

<p>
  <strong>Logo:</strong>
  <%= @site.logo %>
</p>

<p>
  <strong>Lang:</strong>
  <%= @site.lang %>
</p>

<p>
  <strong>User:</strong>
  <%= @site.user.email %>
</p>

<%= link_to 'Edit', edit_site_path(@site) %> |
<%= link_to 'Back', sites_path %>
